{% extends 'gallery/base.html' %} {% load static %} {% block content %}
<div class="pagina-inicial">
   {% include 'gallery/partials/_header.html' %}
   <main class="principal">
      {% include 'gallery/partials/_menu.html' %}
      <section class="conteudo">
         <section class="banner">
            <img class="banner__imagem" src="{% static '/assets/imagens/Banner(2).png' %}" alt="banner Alura Space" />
            <h1 class="banner__titulo">The most completely space pictures gallery</h1>
         </section>
         <section class="galeria">
            <div class="cards">
               <h2 class="cards__titulo">Browse the gallery</h2>
               <ul class="cards__lista">
                  {% if cards %} {% for photography in cards %}
                  <li class="card">
                     <a href="{% url 'image' photography.id %}">
                        {% if photography.photo == '' or photography.photo == null %}
                        <img class="card__imagem" src="{% static '/assets/imagens/galeria/not-found.png'%}" alt="foto" />
                        {% else %}
                        <img class="card__imagem" src="{{ photography.photo.url }}" alt="foto" />
                        {% endif %}
                     </a>
                     <span class="card__tag">{{photography.category}}</span>
                     <div class="card__info">
                        <p class="card__titulo">{{photography.name}}</p>
                        <div class="card__texto">
                           <p class="card__descricao">{{photography.caption}}</p>
                           <span>
                              <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração" />
                           </span>
                        </div>
                     </div>
                  </li>
                  {% endfor %} {% else %}
                  <div class="imagem_texto">
                     <p>Photographs not Found</p>
                  </div>
                  {% endif %}
               </ul>
            </div>
         </section>
      </section>
   </main>
</div>
{% endblock%}
